@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

h1 {
    animation: bounce 2s infinite;
}

h2 {
    color: lightsalmon;
}

h3 {
    color: white;
    font-size: xx-large;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#big-text {
    font-size: 120%;
    font-weight: bold;
    color: red;
}

#education {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:cadetblue;
    text-align: left;
}

#hobbies {
    color: darkorchid;
    text-align: left;
    background: rgb(221,128,114);
background: linear-gradient(90deg, rgba(221,128,114,1) 0%, rgba(52,11,38,1) 50%, rgba(1,0,0,1) 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#formula, #newFormula {
    color: #cc3232;
    background: rgb(0,0,5);
    background: linear-gradient(90deg, rgba(0,0,5,1) 0%, rgba(11,51,52,1) 50%, rgba(0,1,1,1) 100%);
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#above {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:cadetblue;
    text-align: left;
}

#below {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    text-align: left;
}

#bh {
    color: lightsalmon;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: flex-start;
}

.grid-row {
    display: flex;
    margin-bottom: 10px; 
}

.grid-item-left {
    flex: 0 0 calc(20% - 10px); 
    margin-right: 10px;
    overflow: hidden;
    margin-right: 50%;
}

.grid-item-right {
    flex: 0 0 calc(20% - 10px); 
    margin-right: 10px;
    overflow: hidden;
    margin-left: 50%;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}
  
.grid-item {
    width: 100%;
    height: auto;
    display: block;
}

.image-grid img:nth-child(1) {
    grid-row: 2; 
    grid-column: 2; 
}

.image-grid img:nth-child(3) {
    grid-row: 2; 
    grid-column: 1;
}

.flip-container {
    perspective: 1000px;
    width: 336px; /* Adjust the width as needed */
    height: 122px; /* Adjust the height as needed */
}
  
.flipper {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}
  
.flip-container:hover .flipper {
    transform: rotateY(180deg);
}
  
.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
  
.back {
    transform: rotateY(180deg);
}

.button-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-left: 40%;
}

.button1, .button2 {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button1:hover {
    background-color: #45a049;
    transform: rotate(90deg);
}

.button2:hover {
    background-color: #45a049;
    animation: bbounce 0.5s ease infinite;
}

@keyframes bbounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.original-image {
    border: 2px solid #000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clicked-image {
    border: 2px solid red;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

