h2 {
    color: lightsalmon;
}

h3 {
    color: white;
    font-size: xx-large;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#big-text {
    font-size: 120%;
    font-weight: bold;
    color: red;
}

#education {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:cadetblue;
    text-align: left;
}

#hobbies {
    color: darkorchid;
    text-align: left;
    background: rgb(221,128,114);
background: linear-gradient(90deg, rgba(221,128,114,1) 0%, rgba(52,11,38,1) 50%, rgba(1,0,0,1) 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#formula {
    color: #cc3232;
    background: rgb(0,0,5);
    background: linear-gradient(90deg, rgba(0,0,5,1) 0%, rgba(11,51,52,1) 50%, rgba(0,1,1,1) 100%);
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#above {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:cadetblue;
    text-align: left;
}

#below {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    text-align: left;
}

#bh {
    color: lightsalmon;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: flex-start;
}

.grid-row {
    display: flex;
    margin-bottom: 10px; 
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}
  
.grid-item {
    width: 100%;
    height: 90%;
    display: block;
}

.image-grid img:nth-child(1) {
    grid-row: 2; 
    grid-column: 2; 
}

.image-grid img:nth-child(3) {
    grid-row: 2; 
    grid-column: 1;
}

.flip-container {
    perspective: 1000px;
    width: 336px; /* Adjust the width as needed */
    height: 122px; /* Adjust the height as needed */
  }
  
  .flipper {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
  }
  
  .flip-container:hover .flipper {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .back {
    transform: rotateY(180deg);
  }

  #hover {
    font-color: white;
  }
  
.grid-button {
    padding: 10px 20px; /* Adjust the values based on your preferred padding */
    background-color: white /* Green background color */
    color: white; /* White text color */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Optional: Add rounded corners */
    cursor: pointer;
}